.form-container {
    display: grid;
    grid-template-rows: 2fr 1fr 3fr 80px;
    width: 100%;
}

.form-inputs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 60%;
    margin-left: 10%;
    width: 80%;
}
.form-inputs input{
    margin-top: 20px;
    margin-left: 20px;
    border: none;
    border-bottom: 1px solid var(--black);
}
.form-selectors {
    grid-row: 2;
}